<template>
  <div class="media-list-card-container">
    <div
      :style="{ backgroundImage: `url('${thumbnail}')` }"
      class="media-list-card-image-container"
    >
      <div class="media-list-card-duration">{{ convertedDuration }}</div>
    </div>
    <div
      v-tooltip="{
        message: `<div>${title}</div>`,
        className: 'tooltip',
        position: 'bottom'
      }"
      class="media-list-card-title"
    >
      {{ title }}
    </div>
    <div class="media-list-card-views-container">
      <div class="media-list-card-views-icon-container">
        <Headset class="media-list-card-views-icon" />
      </div>
      <div class="media-list-card-views">{{ views }}</div>
    </div>
    <div class="media-list-card-sub-info-container">
      <div class="media-list-card-label-list">
        <template v-for="caption in captions">
          <Label
            :key="caption"
            :text="$t(`caption.${caption}`)"
            class="media-list-card-label caption"
          />
        </template>
        <Label
          :text="$t(`level.${level}`)"
          class="media-list-card-label level"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Label from './Label'
import Headset from '~/components/Icons/Headset'

const TIME_CONVERTOR = [60, 60, 24]
export const convertor = (accumulator, time) => {
  if (!accumulator.rest) {
    return accumulator
  }
  const unit = accumulator.rest % time
  const computedUnit = unit > 9 ? `${unit}` : `0${unit}`
  return {
    rest: Math.floor(accumulator.rest / time),
    text: accumulator.text
      ? `${computedUnit}:${accumulator.text}`
      : `${computedUnit}`
  }
}

export default {
  components: {
    Headset,
    Label
  },
  props: {
    thumbnail: {
      type: String,
      required: true
    },
    duration: {
      type: Number,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    views: {
      type: Number,
      required: true
    },
    captions: {
      type: Array,
      required: true
    },
    level: {
      type: Number,
      required: true
    }
  },
  computed: {
    convertedDuration: ({ duration }) =>
      TIME_CONVERTOR.reduce(convertor, { rest: duration, text: '' }).text
  }
}
</script>

<style lang="less">
@imageWidth: 240px;
@imageHeight: 135px;

@titleLineHeight: 20px;

.media-list-card-container {
  width: @imageWidth;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  user-select: none;
  cursor: pointer;

  &:hover .media-list-card-image-container {
    transform: scale(1.1);
  }
}

.media-list-card-image-container {
  flex: none;
  position: relative;
  width: @imageWidth;
  height: @imageHeight;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 0.3s;
}

.media-list-card-duration {
  position: absolute;
  right: 8px;
  bottom: 8px;
  max-width: 40%;
  overflow: hidden;
  padding: 2px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  font-size: 12px;
  font-family: SFUIText-Medium;
  letter-spacing: 0;
  line-height: 16px;
  text-overflow: ellipsis;
}

.media-list-card-title {
  flex: 1 1 auto;
  display: -webkit-box;
  margin: 4px 0px;
  padding: 0px 8px;
  max-height: @titleLineHeight * 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #212b36;
  letter-spacing: 0;
  line-height: @titleLineHeight;
}

.media-list-card-views-container {
  flex: none;
  margin: 0px 8px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.media-list-card-views-icon-container {
  flex: none;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.media-list-card-views-icon {
  flex: none;
  font-size: 19px;
  font-family: material;
  fill: #787878;
}

.media-list-card-views {
  flex: 1 1 auto;
  color: #787878;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.media-list-card-sub-info-container {
  flex: none;
  margin: 8px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.media-list-card-label-list {
  flex: none;
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.media-list-card-label {
  flex: none;

  &:not(:first-of-type) {
    margin-left: 8px;
  }

  &.caption {
    background-color: #4283e4;
  }
  &.level {
    background-color: #37c597;
  }
}
</style>
