<template>
  <div class="media-list-container">
    <template v-if="mediaList.length !== 0">
      <template v-for="mediaItem in mediaList">
        <div :key="mediaItem.id" class="media-list-card-item">
          <Card
            :thumbnail="mediaItem.thumbnail"
            :duration="mediaItem.duration"
            :title="mediaItem.title"
            :views="mediaItem.views"
            :captions="mediaItem.captions"
            :level="mediaItem.level"
            class="media-list-card"
          />
        </div>
      </template>
    </template>
    <div v-else class="media-list-empty">{{ $t('mediaEmpty') }}</div>
  </div>
</template>

<script>
import Card from './Card'
import { emptyArray } from '~/constants/defaultProps'

export default {
  components: {
    Card
  },
  props: {
    mediaList: {
      type: Array,
      default: emptyArray
    }
  }
}
</script>

<style lang="less">
@itemMargin: 10px;

.media-list-container {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-wrap: wrap;
}

.media-list-card-item {
  flex: 0 0 calc(25% - @itemMargin * 2);
  margin: @itemMargin;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-list-card {
  flex: none;
  height: 100%;
}

.media-list-empty {
  flex: 1;
  margin-top: @itemMargin;
  text-align: center;
  font-size: 14px;
  color: #212b36;
  letter-spacing: 0;
  line-height: 20px;
}
</style>
