<template>
  <div class="media-list-sub-info">{{ text }}</div>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="less">
.media-list-sub-info {
  border-radius: 2px;
  padding: 2px 8px;
  color: #ffffff;
  font-size: 12px;
  font-family: PingFangTC-Medium;
  letter-spacing: -0.03px;
  user-select: none;
}
</style>
