<template>
  <div class="filter-container">
    <template v-for="item in filterList">
      <List
        :key="item.listName"
        :listName="item.listName"
        :activeItem="item.activeItem"
        :onClick="onClick"
        :list="item.list"
      />
    </template>
  </div>
</template>

<script>
import List from './List'
import { emptyFunction } from '~/constants/defaultProps'

export default {
  name: 'FilterSelector',
  components: {
    List
  },
  props: {
    filterList: {
      type: Array,
      required: true
    },
    onClick: {
      type: Function,
      default: emptyFunction
    }
  }
}
</script>

<style lang="less">
.filter-container {
  padding: 6px 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -1px;
    left: 0px;
    background-color: #d8d8d8;
  }
}
</style>
