<template>
  <div :class="{ active: isActive }" @click="onClickItem" class="filter-item">
    {{ name }}
  </div>
</template>

<script>
import { emptyFunction } from '~/constants/defaultProps'

export default {
  props: {
    isActive: {
      type: Boolean,
      default: false
    },
    name: {
      type: String,
      required: true
    },
    value: {
      type: String,
      required: true
    },
    onClick: {
      type: Function,
      default: emptyFunction
    }
  },
  methods: {
    onClickItem() {
      if (!this.isActive) {
        this.onClick(this.value)
      }
    }
  }
}
</script>

<style lang="less">
.filter-item {
  border-radius: 4px;
  padding: 4px 8px;
  background-color: transparent;
  cursor: pointer;
  font-size: 12px;
  color: #787878;
  letter-spacing: 0;
  line-height: 16px;
  user-select: none;

  &.active {
    color: #ffffff;
    background-color: #4283e4;
    cursor: default;
  }
}
</style>
