<template>
  <div class="filter-list-container">
    <div class="filter-list-name">{{ listName }}</div>
    <template v-for="item in list">
      <Item
        :key="item.value"
        :value="item.value"
        :name="item.name"
        :isActive="item.value === activeItem"
        :onClick="onClickItem"
        class="filter-list-item"
      />
    </template>
  </div>
</template>

<script>
import Item from './Item'
import { emptyArray, emptyFunction } from '~/constants/defaultProps'

export default {
  components: {
    Item
  },
  props: {
    listName: {
      type: String,
      required: true
    },
    activeItem: {
      type: String,
      required: true
    },
    onClick: {
      type: Function,
      default: emptyFunction
    },
    list: {
      type: Array,
      default: emptyArray
    }
  },
  methods: {
    onClickItem(item) {
      this.onClick({
        filterType: this.listName,
        item
      })
    }
  }
}
</script>

<style lang="less">
.filter-list-container {
  margin: 3px 0px;
  display: inline-flex;
  align-items: center;
}

.filter-list-name {
  flex: none;
  margin: 0px 24px;
  font-size: 14px;
  color: #787878;
  letter-spacing: 0;
  line-height: 21px;
  user-select: none;
}

.filter-list-item {
  flex: none;
  margin: 0px 4px;
}
</style>
