<template>
  <div class="container">
    <FilterSelector
      :filterList="filter"
      :onClick="onClickFilter"
      class="filter"
    />
    <MediaList :mediaList="computedMediaList" class="media-list" />
  </div>
</template>

<script>
import FilterSelector from '~/components/Filter'
import {
  SORTING_BY_DATE,
  SORTING_BY_VIEW,
  SORTING_BY_FAVORITE_COUNT,
  LENGTH_ALL,
  LENGTH_UNDER_FOUR_MINUTES,
  LENGTH_FROM_FIVE_TO_TEN_MINUTES,
  LENGTH_OVER_TEN_MINUTES
} from '~/constants/filter'
import MediaList from '~/components/MediaList'

export default {
  head() {
    return {
      title: 'VoiceTube Media List Page',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Media List Page for filtering'
        }
      ]
    }
  },
  components: {
    FilterSelector,
    MediaList
  },
  data: (vm) => {
    return {
      mediaList: [],
      filter: [
        {
          listName: vm.$t('filterSort.title'),
          activeItem: SORTING_BY_DATE,
          list: [
            {
              value: SORTING_BY_DATE,
              name: vm.$t(`filterSort.${SORTING_BY_DATE}`)
            },
            {
              value: SORTING_BY_VIEW,
              name: vm.$t(`filterSort.${SORTING_BY_VIEW}`)
            },
            {
              value: SORTING_BY_FAVORITE_COUNT,
              name: vm.$t(`filterSort.${SORTING_BY_FAVORITE_COUNT}`)
            }
          ]
        },
        {
          listName: vm.$t('filterLength.title'),
          activeItem: LENGTH_ALL,
          list: [
            {
              value: LENGTH_ALL,
              name: vm.$t(`filterLength.${LENGTH_ALL}`)
            },
            {
              value: LENGTH_UNDER_FOUR_MINUTES,
              name: vm.$t(`filterLength.${LENGTH_UNDER_FOUR_MINUTES}`)
            },
            {
              value: LENGTH_FROM_FIVE_TO_TEN_MINUTES,
              name: vm.$t(`filterLength.${LENGTH_FROM_FIVE_TO_TEN_MINUTES}`)
            },
            {
              value: LENGTH_OVER_TEN_MINUTES,
              name: vm.$t(`filterLength.${LENGTH_OVER_TEN_MINUTES}`)
            }
          ]
        }
      ]
    }
  },
  computed: {
    activeFilterList() {
      return this.filter.map((item) => item.activeItem)
    },
    computedMediaList() {
      if (this.mediaList.length === 0) {
        return []
      }
      return this.activeFilterList.reduce((list, activeFilterItem) => {
        switch (activeFilterItem) {
          case SORTING_BY_DATE:
            list.sort((a, b) => b.publish - a.publish)
            break
          case SORTING_BY_VIEW:
            list.sort((a, b) => b.views - a.views)
            break
          case SORTING_BY_FAVORITE_COUNT:
            list.sort((a, b) => b.collectCount - a.collectCount)
            break
          case LENGTH_UNDER_FOUR_MINUTES:
            return list.filter((item) => Math.floor(item.duration / 60) <= 4)
          case LENGTH_FROM_FIVE_TO_TEN_MINUTES:
            return list.filter((item) => {
              const minute = Math.floor(item.duration / 60)
              return minute >= 5 && minute <= 10
            })
          case LENGTH_OVER_TEN_MINUTES:
            return list.filter((item) => Math.floor(item.duration / 60) > 10)
          case LENGTH_ALL:
          default:
            break
        }
        return list
      }, this.mediaList)
    }
  },
  async asyncData({ $axios }) {
    try {
      const { status, data } = await $axios.$get(
        'https://us-central1-lithe-window-713.cloudfunctions.net/frontendQuiz'
      )

      if (!status) {
        throw new Error({ status, message: 'fetch media list fail' })
      }
      return { mediaList: data }
    } catch (error) {
      alert(error.message)
    }
  },
  methods: {
    onClickFilter({ filterType, item }) {
      const filterTypeIndex = this.filter.findIndex(
        (item) => item.listName === filterType
      )
      if (filterTypeIndex >= 0) {
        const temp = this.filter.slice()
        temp[filterTypeIndex].activeItem = item
        this.filter = temp
      }
    }
  }
}
</script>

<style lang="less">
.container {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1366px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter {
  width: 100%;
}

.media-list {
  width: 100%;
  margin-top: 21px;
}
</style>
