@tooltipBackgroundColor: rgba(0, 0, 0, 0.8);

.global-tooltip-arrow-horizontal {
 left: 50%;
 transform: translateX(-50%);
}

.global-tooltip-arrow-vertical {
  top: 50%;
  transform: translateY(-50%);
}

.global-tooltip-element:hover {
  .global-tooltip {
    transform: scale(1);
  }
}

.global-tooltip {
  max-width: 300px;
  position: fixed;
  display: inline-block;
  background-color: @tooltipBackgroundColor;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 3px;
  color: #ffffff;
  transform: scale(0);
  z-index: 10;


  &::before {
    content: '';
    position: absolute;
    border-width: 10px;
    border-style: solid;
    width: 0px;
    height: 0px;
  }

  &.top::before {
    border-color: @tooltipBackgroundColor transparent transparent transparent;
    .global-tooltip-arrow-horizontal();
    top: calc(100%);
  }
  &.bottom::before {
    border-color: transparent transparent @tooltipBackgroundColor transparent;
    .global-tooltip-arrow-horizontal();
    bottom: calc(100%);
  }
  &.left::before {
    border-color: transparent transparent transparent @tooltipBackgroundColor;
    left: calc(100%);
    .global-tooltip-arrow-vertical();
  }
  &.right::before {
    border-color: transparent @tooltipBackgroundColor transparent transparent;
    right: calc(100%);
    .global-tooltip-arrow-vertical();
  }
}